
body{
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
}
table {
  border-collapse: collapse;
  overflow: auto;
  display: block;
  height: calc(100vh - 114px);
  margin: 25px;
}

thead {
  position: fixed;
  top: 0;
  background: #333;
  color: #fff;
}
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 3px;
  width:75px;
  max-width: 75px;
  overflow:hidden;
  text-overflow: ellipsis;
}
th{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 3px;
  min-width:75px;
}

nav {
  position: fixed;
  bottom: 0;
}
.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: .25em;
  margin-top: 0;
  margin-bottom: 0;
}
.page-link {
  position: relative;
  display: block;
  padding: .5em .75em;
  margin-left: -1px;
  line-height: 1.25;
  color:  #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6
}
a {
  text-decoration: none;
}
.active>.page-link{
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.form-group label {
  padding-right: 10px;
}
